.media-object {
    width: 40px;
    height: 40px;
}

.main-content {
    margin: 20px;
    padding: 10px;

}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    collapse: #999;
}

body {
    background-color: #efefef;
}

.main-content {
    background: #ffffff;
}

.view-page {
    float: right;
}
